<div class="contents row">
  <%= link_to new_sell_path, class: 'your-css-class' do %>
    投稿する
  <% end %>

  <% @sells.each do |sell| %>
    <div class="sell-post">
      <div class="sell-status">
        <%= sell.status.name %>
      </div>
      <div class="sell-item">
        <%= sell.item %>
      </div>
      <div class="name">
        <%= sell.limit %>
      </div>
    </div>
  <% end %>
</div>